/* ヘッダー */
header {
  max-width: 1000px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}
/* メイン */
/* メインビジュアル */
.mainvisual {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}
.mainvisual img {
  width: 100%;
  object-fit: cover;
}
/* メインindex */
.index_box {
  max-width: 800px;
  background-color: #f3f3f3;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 64px;
  margin-bottom: 80px;
}
.index_box h2 {
  text-align: center;
  padding-top: 64px;
  padding-bottom: 32px;
  font-weight: bold;
}
.index_box ol {
  border: solid 1px;
  line-height: 32px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 32px;
  padding-left: 96px;
  padding-top: 16px;
  padding-bottom: 16px;
}
/* メイン4つの写真 */
.photobox {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.photobox_left {
  max-width: 395px;
}
.photobox_left img {
  width: 100%;
  margin-bottom: 8px;
  object-fit: cover;
}
.photobox_right {
  max-width: 395px;
}
.photobox_right img {
  width: 100%;
  margin-bottom: 8px;
  object-fit: cover;
}
/* DETAILS */
.details{
  max-width: 800px;
  background-color: #f3f3f3;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 64px;
  margin-bottom: 80px;
}
.details h2{
  text-align: center;
  padding-top: 64px;
  padding-bottom: 32px;
  font-weight: bold;
}

.table_box{
  max-width: 100%;
  display: flex;
}

table.tabel_left {
  margin-left: 48px;
}

table.table_right {
  margin-left: 80px;
  padding-left: 32px;
  border-left: solid 1px;
}

.space{
  height: 16px;
}

/* フッター */
footer{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .photobox{
   flex-direction: column;
   margin-left: auto;
   margin-right: auto;
  }
  .table_box{
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
.tabel_right{
  margin-top: 32px;
  margin-left: 48px;
}
}